h1 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
}

.mylinks li { margin: 10px 15px; list-style-type:"-    "; }
.mylinks li:hover { text-decoration: underline; list-style-type:"> "}
.mylinks a { color:black; text-decoration: none;}
.mylinks a:hover { color:rgb(20, 60, 20); }